@{
    ViewData["Title"] = "Homepage - ";
    //Layout = null;

    List<Pizza> listaPizze = new List<Pizza>();

    Pizza Pizza1 = new Pizza("Pizza Margherita", "Pizza con Pomodoro e Mozzarella", "/img/pizza_margherita.jpg", 6);
    Pizza Pizza2 = new Pizza("Pizza Wurstel", "Pizza con Pomodoro, Mozzarella e Wurstel", "/img/pizza_wurstel.jpg", 8);
    Pizza Pizza3 = new Pizza("Pizza 4 Stagioni", "Pizza con Pomodoro, Mozzarella, Carciofini, Funghi, Olive e Prosciutto Cotto", "/img/pizza_quattro_stagioni.jpg", 9);

    listaPizze.Add(Pizza1);
    listaPizze.Add(Pizza2);
    listaPizze.Add(Pizza3);

}

<div class="container">
    
    <h1>Le nostre Pizze</h1>
    
    <div class="card-container d-flex justify-content-center flex-wrap">
        
        @foreach( Pizza pizza in listaPizze)
        {
            <div class="card card-custom m-2">
                <img class="card-img-custom card-img-top" src="@pizza.ImgUrl" alt="@pizza.Name">
                <div class="card-body">
                    <h4 class="card-title">@pizza.Name</h4>
                    <h5 class="card-text">@pizza.Price €</h5>
                    <p class="card-text">@pizza.Description</p>
                    <a href="#" class="btn btn-primary">Maggiori Info</a>
                </div>
            </div>
        }
    </div>
    
   
</div>

