@{
    ViewData["Title"] = "Homepage - ";
    //Layout = null;

    List<Pizza> listaPizze = new List<Pizza>();

    Pizza Pizza1 = new Pizza("Pizza Margherita", "Pizza con Pomodoro e Mozzarella", "/img/pizza_margherita.jpg", 6);
    Pizza Pizza2 = new Pizza("Pizza Wurstel", "Pizza con Pomodoro, Mozzarella e Wurstel", "/img/pizza_wurstel.jpg", 8);
    Pizza Pizza3 = new Pizza("Pizza 4 Stagioni", "Pizza con Pomodoro, Mozzarella, Carciofini, Funghi, Olive e Prosciutto Cotto", "/img/pizza_quattro_stagioni.jpg", 9);

    listaPizze.Add(Pizza1);
    listaPizze.Add(Pizza2);
    listaPizze.Add(Pizza3);

}

<div class="container">
    
    <h1>Le nostre Pizze</h1>
    
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Miniatura</th>
        <th scope="col">Nome</th>
        <th scope="col">Prezzo</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Azioni</th>
      </tr>
      </thead>
      
      <tbody>
      @foreach (Pizza pizza in listaPizze)
      {
          <tr>
              <th scope="row">ID</th>
              <td><img class="table-img-custom" src="@pizza.ImgUrl" alt="@pizza.Name"></td>
              <td>@pizza.Name</td>
              <td>@pizza.Price €</td>
              <td>@pizza.Description</td>
              <td>Azioni</td>
          </tr>
      }

      </tbody>
    </table>
    
</div>

